<!DOCTYPE html>
<html>
  <head>
    <title>twipoke</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>

    <div class="profileContainer">
      <div class="twitterInfo">
        <img src="<%- profileImage %>">
        <div class="twitterNameID">
          <p class="twitterName"><%= twitterName %></p>
          <p class="twitterID"><%= twitterID %></p>
        </div>
      </div>
      <p>レーティング: <%= rate %></p>
      <p><%= win+lose %>戦 <%= win %>勝 <%= lose %>負</p>
    </div>
    
    <div class="btnContainer">
      <button id="createRoomBtn" class="btn create">対戦部屋を作る</button>
      <button id="searchRoomBtn" class="btn search">対戦部屋を探す</button>
    </div>

    <script>
      const createRoomBtn = document.getElementById('createRoomBtn');
      const searchRoomBtn = document.getElementById('searchRoomBtn');
      createRoomBtn.addEventListener('click', (e) => {
        const createRoomForm = document.createElement('form');
        const roomID = Math.floor(Math.random() * (999999 - 100000) + 100000);
        createRoomForm.action = '/room/' + roomID;
        createRoomForm.method = 'GET';
        document.body.append(createRoomForm);
        createRoomForm.submit();
      });
      searchRoomBtn.addEventListener('click', (e) => {
        const searchRoomForm = document.createElement('form');
        searchRoomForm.action = '/search';
        searchRoomForm.method = 'GET';
        document.body.append(searchRoomForm);
        searchRoomForm.submit();
      });
    </script>
  </body>
</html>